body{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    background-image: url("https://storage.pixteller.com/designs/designs-images/2019-03-27/05/love-and-passion-background-backgrounds-love-1-5c9b9953a1468.png");
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    border:1px solid red;
    width: 90%;
    background-image: url("../img/demo.jpg");
    background-position: center;
}
.form-control{
    background-color: rgba(0,0,0,.4);
    color: white;
}
::placeholder {
    color: red;
  }
